docs/
.vscode/launch.json
node_modules/
yarn.lock
package-lock.json

# Ignore packages
*.tgz
*.gz

# Ignore LaTeX files.
*.aux
*.fls
*.out
*.log
*.fdb_latexmk
*.xdv
svg-inkscape/
# Ignore Tex4ht files.
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.xref
*.dvi
styleguide/styleguide.html
styleguide/styleguide.css